<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>juicysfplugin</string>
    <key>CFBundleIconFile</key>
    <string/>
    <key>CFBundleIdentifier</key>
    <string>uk.co.birchlabs.juicysfplugin</string>
    <key>CFBundleName</key>
    <string>juicysfplugin</string>
    <key>CFBundleDisplayName</key>
    <string>juicysfplugin</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>birchlabs: Juicy SF</string>
        <key>description</key>
        <string>Audio plugin to play soundfonts</string>
        <key>factoryFunction</key>
        <string>JUCEProjectAUFactory</string>
        <key>manufacturer</key>
        <string>Blbs</string>
        <key>type</key>
        <string>aumu</string>
        <key>subtype</key>
        <string>Jspf</string>
        <key>version</key>
        <integer>65536</integer>
      </dict>
    </array>
  </dict>
</plist>
