<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
	<Product Id="*" Name="$(var.ProductName)" Language="1033" Version="2.3.1" Manufacturer="$(var.Manufacturer)" UpgradeCode="e03ac63d-63d8-48d1-ab6c-ba539f7d523f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(var.WixPlatform)" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.licenseRtf)" />
    <UIRef Id="WixUI_MyMinimal" />
    
    <Feature Id="ProductFeature" Title="juicysfplugin" Level="1">
			<ComponentGroupRef Id="StandaloneAppComponents" />
      <ComponentGroupRef Id="LicenseComponents" />
      <ComponentGroupRef Id="LicenseConcatComponents" />
      <ComponentGroupRef Id="LibraryComponents" />
      <ComponentGroupRef Id="VSTComponents" />
      <ComponentGroupRef Id="VST3Components" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!-- https://docs.microsoft.com/en-us/windows/win32/msi/programfilesfolder -->
			<Directory Id="$(var.PlatformProgramFilesFolder)">
        <!-- Create a folder inside program files with Company Name-->
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <!-- Create a folder inside Company Name folder with Product Name-->
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)" >
            <Directory Id="LICENSEFOLDER" Name="licenses_of_dependencies" />
          </Directory>
        </Directory>
			</Directory>
      <Directory Id="$(var.PlatformCommonFilesFolder)">
        <Directory Id="VSTINSTALLFOLDER" Name="VST"/>
        <Directory Id="VST3INSTALLFOLDER" Name="VST3"/>
      </Directory>
      <Directory Id="$(var.PlatformSystemFolder)" />
		</Directory>
	</Fragment>

  <!-- https://www.guidgen.com/ -->

	<Fragment>
		<ComponentGroup Id="StandaloneAppComponents" Directory="INSTALLFOLDER">
      <Component Id="juicysfplugin.exe" Guid="*">
        <File Source="$(var.juicysfplugin_StandalonePlugin.TargetPath)" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VSTComponents" Directory="VSTINSTALLFOLDER">
      <Component Id="juicysfplugin.dll" Guid="*">
        <File Source="$(var.juicysfplugin_VST.TargetPath)" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VST3Components" Directory="VST3INSTALLFOLDER">
      <Component Id="juicysfplugin.vst3" Guid="*">
        <File Source="$(var.juicysfplugin_VST3.TargetPath)" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="LibraryComponents" Directory="$(var.PlatformSystemFolder)">
      <?if $(var.Win64) = no ?>
        <Component Guid="*">
          <File Source="$(var.LibSrcRoot)libgcc_s_dw2-1.dll" />
        </Component>
      <?endif ?>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libFLAC-8.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libfluidsynth-2.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libglib-2.0-0.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libgmodule-2.0-0.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libiconv-2.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libintl-8.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libogg-0.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libpcre-1.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libportaudio-2.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libreadline8.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libsndfile-1.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libspeex-1.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libtermcap-0.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libvorbis-0.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libvorbisenc-2.dll" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LibSrcRoot)libwinpthread-1.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="LicenseConcatComponents" Directory="INSTALLFOLDER">
      <Component Id="license_concatenated.txt" Guid="*">
        <File Source="$(var.LicenseConcatSrcRoot)license_concatenated.txt" />
      </Component>
      <Component Id="license_concatenated.rtf" Guid="*">
        <File Source="$(var.LicenseConcatSrcRoot)license_concatenated.rtf" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="LicenseComponents" Directory="LICENSEFOLDER">
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)JUCE-framework_GPL3.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libflac_New_BSD.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libfluidsynth_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libgcc_runtime_libraries_GPL3_with_GCC_runtime_library_exception.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libglib_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libgthread_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libiconv_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libintl_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libogg_New_BSD.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libpcre_BSD.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libportaudio_bespoke.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libreadline_GPL3.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libsndfile_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libspeex_revised_BSD.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libtermcap_LGPL_2.1.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libvorbis_New_BSD.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libvorbisenc_New_BSD.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)libwinpthreads_BSD_and_MIT.txt" />
      </Component>
      <Component Guid="*">
        <File Source="$(var.LicenseSrcRoot)Steinberg-VST3_GPL3.txt" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
